.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.centertext {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}
a {
    color: white;
}

.statusMessage {
    text-align: center;
    width: 60%;
    max-width: 60%;
    border-width: 1px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
}

.allGood {
    background-color: green;
}
.error {
    background-color: red;
}